@import './config.scss';

.bg-primary { background-color: $primary-color; }

.bg-gray-100 { background-color: $white-300; }
.bg-gray-300 { background-color: $gray-300; }

.bg-event-block { background-color: $event-block-color; }
