@import './config.scss';

.color-gray-200 { color: $gray-200; }
.color-gray-300 { color: $gray-300; }
.color-gray-600 { color: $gray-600; }
.color-gray-700 { color: $gray-700; }

.color-primary { color: $primary-color; }

.color-event-block { color: $event-block-color; }

.border-gray-50 { border-color: $gray-50; }
.border-gray-75 { border-color: $gray-75; }
