@tailwind base;
@tailwind components;
@tailwind utilities;

$white-300: #F9FAFA;
$gray-50: #F0F1F2;
$gray-75: #E3E5E8;
$gray-100: #C2C7CD;
$gray-200: #C0C0C0;
$gray-300: #6A7482;
$gray-600: #3A3F46;
$gray-700: #474747;
$primary-color: #0165FF;
$event-block-color: #0165FF;
$error-color: #F84545;
